/* * {
    border: 1px solid white;
} */

.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header_logo {
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
}

.header_deliver {
    display: flex;
    flex-direction: column;
    margin-top: 4px;
    margin-right: 10px;
    color: white;
}

.header_deliverTo {
    font-size: small;
}

.header_locator {
    display: flex;
}

.header_locatorImage {
    color: white;
    width: 16px;
    height: 18px;
    margin-top: 12px;
}

.header_location {
    color: white;
    font-weight: bold;
}

.header_dropDownMenu {
    font-family: inherit;
    height: 34px;
    width: 60px;
    border-radius: 4px 0px 0px 4px;
    background-color: #e6e5e5;
    text-align-last: center;
}

.header_search {
    display: flex;
    flex: 1;
    align-items: center;
}

.header_searchInput {
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}

.header_searchIcon {
    padding: 5px;
    height: 22px !important;
    background-color: #cd9042;
    border-radius: 0px 4px 4px 0px;
}

.header_searchIcon:hover {
    cursor: pointer;
}

.header_optionLineOne {
    font-size: 10px;
}

.header_optionLineTwo {
    font-size: 13px;
    font-weight: 800;
}

.header_optionBasket {
    display: flex;
    align-items: center;
    color: white;
}

.header_basketCount {
    margin-left: 10px;
    margin-right: 10px;
}

.header_nav {
    display: flex;
    justify-content: space-evenly;
}

.header_option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}